<div ng-controller="ModalHandleCtrl">
  <label>Data</label>
  <input id="timepicker-handle" type="date" class="form-control input-sm" datepicker-popup ng-model="modal.state.real_date"
         is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-change="syncdate()"/>
  <label>Valore</label>
  <div class="input-group">
    <div class="input-group-addon">€</div>
    <input type="text" class="form-control input-sm" id="first-control" placeholder="valore" data-ng-model="modal.state.value" autofocus>
  </div>
  <label>Modalità</label>
  <input type="text" class="form-control input-sm" placeholder="modalità" data-ng-model="modal.state.type">
  <label>Descrizione</label>
  <input type="text" class="form-control input-sm" placeholder="descrizione" data-ng-model="modal.state.desc">
</div>
