.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: #428bca;
}
.modal-info .modal-header {
  background: #5bc0de;
}
.modal-success .modal-header {
  background: #5cb85c;
}
.modal-warning .modal-header {
  background: #f0ad4e;
}
.modal-danger .modal-header {
  background: #d9534f;
}
.modal-edit .modal-header {
  background: yellowgreen;
  color: #222;
  border-radius: 5px 5px 0 0;
}

.modal-body {
  color: #444;
}

.label-alone {
  display: block;
  margin: 10px 0;
}
.label-alone > i {
  font-size: 16px;
}

@media (max-width: 500px) {
  .modal-dialog {
    margin: 0;
  }
  .modal-primary .modal-header,
  .modal-info .modal-header,
  .modal-success .modal-header,
  .modal-warning .modal-header,
  .modal-danger .modal-header,
  .modal-edit .modal-header,
  .modal-footer,
  .modal-content {
    border-radius: 0;
  }
  .modal-edit > .monitor {
    height: 80px;
  }
  .monitor-content {
    font-size: 16px;
    padding: 0 80px 0 60px;
  }
  .monitor .fa-5x {
    font-size: 4em;
  }
  .modal-body label {
    margin-bottom: 0;
  }
}
