<div ng-controller="PointCtrl">
  <div class="position">
    <label>Posizione rilevata:</label>
    <div>Latitudine: {{modal.context.pos.latitude}}'</div>
    <div>Longitudine: {{modal.context.pos.longitude}}'</div>
  </div>
  <br>
  <div class="form-group form-group-sm">
    <label>Nome</label>
    <input type="text" class="form-control" ng-model="modal.context.pos.description" ng-enter="close" autofocus/>
  </div>
  <div class="form-group form-group-sm">
    <label>Descrizione</label>
    <textarea class="form-control vertical" ng-model="modal.context.pos.notes" rows="3"></textarea>
  </div>
</div>
