.road-map {
  border-top: #ddd 1px solid;
  padding: 20px 0 0;
  position: relative;
  margin-top: 20px;
}
.road-map-from-to {
  margin-bottom: 10px;
}
.road-map-from-to > select {
  width: 140px;
  display: inline-block;
  margin: 0 6px;
}

.road-map > button {
  position: absolute;
  right: 0;
}

.road-map-waypoints {
  position: relative;
}
.road-map-waypoint{
  display: inline-block;
  margin: 2px;
  padding: 6px 10px;
  border-radius: 4px;
}

.road-map-waypoint:hover,
.road-map-waypoint.selected {
  background-color: yellowgreen;
}
