<div ng-controller="PosInfoCtrl">
  <h2 style="margin: 0 0 10px;">{{modal.context.nick}}</h2>
  <div ng-repeat="i in modal.context.member">{{i.title}}: {{i.value}}{{i.post}}</div>
  <br>
  <div ng-hide="isme">Distanza da me (in linea d'aria): {{distance.toFixed(2)}}m</div>
  <div class="road-map">
    <label>Percorso:</label>
    <div class="road-map-from-to">Da
      <select class="form-control input-sm" ng-model="modal.context.route.origin"
              ng-options="i as i.name for i in items track by i.name">
      </select>a
      <select class="form-control input-sm" ng-model="modal.context.route.destination"
              ng-options="i as i.name for i in items track by i.name">
      </select>
      <i class="fa aslink" ng-class="{'fa-car':modal.context.route.mode=='car', 'fa-male':modal.context.route.mode=='walk'}" ng-click="togglemode()"></i>
    </div>
  </div>
</div>
