.others {
  width: calc(100% - 20px);
}
.others > .separator {
  border-bottom: #999 1px solid;
  padding-top: 8px;
  margin-bottom: 8px;
}
.others-container {
  position: absolute;
  height: 120px;
  width: 100%;
  left: 0;
  padding: 10px;
  overflow: hidden;
}


.group-item {
  padding: 3px 14px;
  /*border: #ccc 1px solid;*/
  border-radius: 6px;
  margin: 1px;
  position: relative;
}
.group-item:hover {
  background-color: darkolivegreen;
  color: white;
}
.monitor > .section:hover .others > .separator {
  border-color: #333;
}

.group-item > span {
  position: absolute;
  left: 2px;
  top: 6px;
  font-size: 10px;
}
.group-item >i:hover {
  color: darkorange;
}
.group-item >i.onright {
  margin-top: 2px;
  font-size: 18px;
}

