.thing-form {
  margin: 20px 0;
}

.footer {
  text-align: center;
}

.main-footer {
  padding: 30px 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.monitor {
  position: absolute;
  height: 200px;
  z-index: 1000;
  background-color: #fff;
  opacity: .6;
  bottom: 0;
  width: 100%;
  color: #222;
}
.monitor:hover {
  opacity: .93;
}

.monitor > section {
  padding: 10px;
}
.monitor > footer {
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 32px;
}

.monitor .info > div {
  font-size: 10px;
}
.monitor .section > .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.monitor > .section {
  height: 160px;
}
.monitor > .section:hover {
  background-color: yellowgreen;
}

.monitor > .user {
  width: 200px;
  /*background-color: #245269;*/
  border-right: #aaa 1px solid;
}
.monitor > .user > .info {
  margin-top: 10px;
}
.monitor > .chat {
  /*background-color: #219161;*/
  position: absolute;
  left: 200px;
  top: 0;
  width: calc(100% - 400px);
  border-right: #aaa 1px solid;
}
.monitor > .group {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  /*background-color: #ba9d37;*/
}

.monitor > footer > .btn-hidden {
  display: none;
  margin-top: 6px;
}

.working-container.main {
  height: 100%;
}

.finder {
  position: absolute;
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  z-index: 920;
  top: 4px;
  margin: 0 80px;
}
.finder > i {
  position: absolute;
  right: 6px;
  font-size: 16px;
  top: 6px;
}

@media(max-width: 400px) {
  .finder {
    margin: 30px 40px;
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
  }
}

@media (max-width: 700px) {
  .monitor > footer > .btn-hidden {
    display: block;
  }
  .monitor > .section:not(.active) {
    display: none;
  }
  .monitor > .section.active {
    width: 100%;
    left: 0;
    border-right: none;
  }
  .chat-text {
    bottom: 170px;
  }
}
