<div class="working-container main" ng-show="loading">
  <div class="working"></div>
</div>
<input id="map-finder" class="form-control input-sm" type="text">
<i class="show-route fa fa-map fa-2x aslink" ng-show="context.route" ng-click="showroute()"></i>
<div id="map-canvas"></div>
<div class="position-center" ng-show="share">+</div>
<div class="share-footer" ng-show="share">
  <i class="fa fa-arrow-circle-o-left aslink" ng-click="sharepos()"></i>
  <i class="fa fa-map-marker aslink onright" ng-click="sharethis()"></i>
</div>

<div class="monitor" ng-hide="share">
  <section class="section user" ng-class="{'active':page=='user'}">
    <div class="title"><i class="fa fa-fw fa-user"></i> {{cache().user.nick}}</div>
    <div class="info" ng-show="mypos">
      <div ng-repeat="i in mypos">{{i.title}}: {{i.value}}{{i.post}}</div>
    </div>
    <div ng-hide="mypos">...</div>
  </section>
  <section class="section chat" ng-class="{'active':page=='chat'}">
    <div class="title"><i class="fa fa-fw fa-comments"></i> Chat</div>
    <div class="chat-container" scroller="scroller-msg">
      <div class="messages-container scroller-target">
        <div class="chat-panel" ng-class="{'by-me':m.member==cache().user.nick}" ng-repeat="m in cache().messages">
          <div class="chat-message">
            <div class="chat-msg-header">
              <!--<i class="fa fa-caret-right" ng-show="m.member==cache().user.nick"></i>-->
              {{getDate(m.timestamp,'time')}} - {{m.member==cache().user.nick ? 'IO' : m.member}}
              <!--<i class="fa fa-caret-left" ng-hide="m.member==cache().user.nick"></i>-->
            </div>
            {{m.text}}
          </div>
        </div>
      </div>
    </div>
    <div class="chat-text">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-commenting"></i></span>
        <input class="form-control" type="text" ng-model="message" ng-keydown="hkey($event)">
      </div>
    </div>
  </section>
  <section class="section group" ng-class="{'active':page=='group'}">
    <div class="title"><i class="fa fa-fw fa-users"></i> {{cache().group.group}} ({{members ? members.length : 0}})</div>
    <div class="others-container" scroller>
      <div class="others scroller-target" ng-show="members && members.length">
        <div class="group-item aslink" ng-repeat="m in members" ng-click="center(m)">
          <span>{{$index+1}}</span><i class="fa fa-user" ></i> {{m.k}}  ({{m.k[0]}})<i class="fa fa-info-circle onright" ng-click="details(m)"></i>
        </div>
        <div class="separator" ng-show="members.length && points.length"></div>
        <div class="group-item aslink" ng-repeat="p in points" ng-click="centerPoint(p)">
          <span>{{$index+1}}</span><i class="fa fa-map-marker" ></i> {{p.description}}  ({{$index+1}})<i class="fa fa-info-circle onright" ng-click="details(p)"></i>
        </div>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <i class="fa fa-sign-out aslink" ng-click="logout()" title="Esci"></i>
    <i class="fa fa-user-plus aslink" ng-click="invite()" title="Invita altri amici"></i>
    <i class="fa fa-crosshairs aslink" ng-click="center()" title="Centra la mia posizione"></i>
    <i class="fa fa-map-marker aslink" ng-click="sharepos()" title="Condividi una posizione"></i>
    <i class="btn-hidden fa aslink onright" ng-click="swipe()"
       ng-class="{'fa-comments':page=='user', 'fa-users':page=='chat', 'fa-user':page=='group'}"></i>
  </footer>
</div>
